body {
    font-family: Tahoma,
        Verdana,
        sans-serif, sans-serif;
    line-height: 1.5;
}

a:link {
    text-decoration-style: dotted;
}

ul, ol {
    line-height: 2;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    border-color: #96D4D4;
    border-style: dotted;
}

tr:nth-child(even) {
    background-color: #F2F3F4;
}

tr:nth-child(odd) {
    background-color: #E5E8E8;
}

.sidenav {
    border: 1px solid black;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 20px;
    background: #F2F3F4;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

.main {
    /* Same width as the sidebar + left position in px */
    font-size: 14px;
    /* Increased text to enable scrolling */
    padding: 20px 10px;
}

.heading a {
    text-decoration: none;
    color: #2196F3;
}

.main a:hover {
    color: #064579;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

div#loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url(/static/download.png) no-repeat;
    cursor: wait;
}

div.absolute {
    position: absolute;
    bottom: 20px;
    left: 20px;
}