<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="sidenav">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('oaidp.collections') }}">Collections</a>
        <!--<a href="{{ url_for('oaidp.browse', page_number=1) }}">Browse</a>
        <a href="{{ url_for('oaidp.search') }}">Search</a>
        {% if g.user and g.auth %}
        <a href="{{ url_for('oaidp.regen') }}">Refresh</a>
        {% endif %}-->
        {% if g.user %}
            <a href="{{ url_for('auth.logout') }}">(logout {{ g.user }})</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}">(login)</a>
        {% endif %}

    </div>

    <div class="absolute">

        <a href="https://github.com/caltechlibrary/ead2dc"><img width="20" height="20"
            src="{{ url_for('static', filename='images/github.svg') }}"></a>

    </div>
    
    <div class="main">

        <div class="heading">

            <a href="https://www.caltech.edu"><img alt="Caltech" width="90" height="22" src="{{ url_for('static', filename='images/caltech-new-logo.png') }}"></a>

            <p>
                <a href="https://archives.caltech.edu">Archives</a> | 
                <a href="https://digital.archives.caltech.edu">Digital Collections</a>
            </p>

        <h2>OAI Data Provider</h2>

        </div>

        {% block content %}{% endblock %}

        <p>
        {% for message in get_flashed_messages() %}
        {{ message }}
        {% endfor %}
        </p>

    </div>

</body>

</html>