{% extends "base.html" %}

{% block content %}

<h3>Collections</h3>

{% if g.user and g.auth %}
<p>
    Data is updated nightly from ArchivesSpace at 3am. 
    Changes will be reflected in the table below, and in the results of Data Provider queries.
</p>
<p>
    Examples of edits in ArchivesSpace that will change collection data and DP responses include:
</p>
<ul>
    <li>Adding/removing digital content to/from collections</li>
    <li>Changing publication or suppressed status of collections or digital objects</li>
    <li>Editing archival or digital object metadata</li>
</ul>
{% endif %}

<table>
    <tr>
        <td align="right"><strong>Data last updated from ArchivesSpace:</strong></td><td>{{ dt_xml }}</td>
    </tr>
    <tr>
        <td align="right"><strong>Collection selection last updated:</strong></td><td>{{ dt_col }}</td>
    </tr>
</table>

<br/>

<!--<p>Refresh data from ArchivesSpace? This takes a few minutes. Either <a href="{{ url_for('oaidp.collections2') }}">continue refresh</a>, or choose another option.</p>-->

{% if g.user and g.auth %}<form action="{{ url_for('oaidp.collections3') }}" method="POST">{% endif %}
<table>
<tr>
    <th rowspan="2">
        {% if g.user and g.auth %}
            <button type="submit">Update OAI<br/>Data Provider</button>
        {% else %}
            Published<br/>via OAI<br/>Data Provider
        {% endif %}</th>
    <th rowspan="2">Record<br/>Type</th>
    <th rowspan="2">Record ID</th>
    <th rowspan="2">Title</th>
    <th rowspan="2">Archival<br/>Objects</th> {% set tot_aocount = 0 %}
    <th rowspan="2">Digital<br/>Objects</th>  {% set tot_docount = 0 %}
    <th rowspan="2">List<br/>Records</th>
    <th colspan="4">Host/Link domain</th>
</tr>
<tr>
    <th>Caltech Library</th>                  {% set tot_clibrary = 0 %}
    <th>Internet Archive</th>                 {% set tot_iarchive = 0 %}
    <th>YouTube</th>                          {% set tot_youtube = 0 %}
    <th>Other</th>                            {% set tot_other = 0 %}
</tr>
{% for coll in output[3] %}
    {% if coll[8] or (g.user and g.auth) %}
    <tr>
        <td align="center">
            {% if g.user and g.auth %}    
                <input name="include" id="include" type="checkbox" value="{{ coll[0] }}"{% if coll[8] %} checked {% endif %}>
            {% elif coll[8] %}
                &#x2713;
            {% endif %}
        </td>
        <td>{{ coll[9] }}</td>
        <td><a href="{{ url }}{{ coll[9] }}s/{{ coll[0] }}">{{ coll[0] }}</a></td>
        <td><strong>{{ coll[1] }}</strong></td>
        <td align="right">{{ coll[2] }}</td> {% set tot_aocount = tot_aocount + coll[2] %}
        <td align="right">{{ coll[3] }}</td> {% set tot_docount = tot_docount + coll[3] %}
        <td align="center">
            {% if (g.user and g.auth) or coll[8] %}
            <a href="oai?verb=ListRecords&set={{ coll[9] }}_{{ coll[0] }}"><i class="fas fa-solid fa-link"></i></a>
            {% endif %}
        </td>
        <td align="right">{{ coll[4] }}</td> {% set tot_clibrary = tot_clibrary + coll[4] %}
        <td align="right">{{ coll[5] }}</td> {% set tot_iarchive = tot_iarchive + coll[5] %}
        <td align="right">{{ coll[6] }}</td> {% set tot_youtube = tot_youtube + coll[6] %}
        <td align="right">{{ coll[7] }}</td> {% set tot_other = tot_other + coll[7] %}
    </tr>
    {% endif %}
{% endfor %}
<tr>
    <th align="right" colspan="4">Totals</th>
    <th align="right">{{ tot_aocount }}</th>
    <th align="right">{{ tot_docount }}</th>
    <th></th>
    <th align="right">{{ tot_clibrary }}</th>
    <th align="right">{{ tot_iarchive }}</th>
    <th align="right">{{ tot_youtube }}</th>
    <th align="right">{{ tot_other }}</th>
</tr>
</table>
</form>

{% if digitalobject_count %}
    <p>Total number of digital objects: {{ digitalobject_count }}</p>
{% endif %}

{% if archivalobject_count %}
    <p>Total number of linked archival objects: {{ archivalobject_count }}</p>
{% endif %}

{% endblock %}
