{% extends "base.html" %}

{% block content %}

<h3>Collections</h3>

<p>{{ output[0] }} digital objects located in {{ output[1] }} collections.</p>

<p>Last updated: {{ dt }} </p>

<p>Refresh data from ArchivesSpace? This takes a few minutes. Either <a href="{{ url_for('oaidp.collections2', act='w') }}">continue refresh</a>, or choose another option.</p>

<table>
<tr>
    <th></th>
    <th>No.</th>
    <th>Title</th>
    <th>Count</th>
</tr>
{% for coll in output[2] %}
    <tr>
        <td><input type="checkbox"></td>
        <td>{{ coll[0] }}</td>
        <td>{{ coll[1] }}</td>
        <td align="right">{{ coll[2] }}</td>
    </tr>
{% endfor %}
</table>

{% if output[3] is not None %}
    <p>Refresh complete. Time elapsed: {{ output[3] }} seconds.</p>
{% end if %}

{% endblock %}
