{% extends "base.html" %}

{% block content %}

<h3>Collections</h3>

<p><strong>{{ output[0] }} digital objects</strong> in <strong>{{ output[1] }} collections</strong>.</p>

<p><strong>Last updated:</strong> {{ dt }}</p>

<!--<p>Refresh data from ArchivesSpace? This takes a few minutes. Either <a href="{{ url_for('oaidp.collections2') }}">continue refresh</a>, or choose another option.</p>-->

<form action="{{ url_for('oaidp.collections3') }}" method="POST">
<table>
<tr>
    <th rowspan="2"><input type="submit" value="Update"><br>Include</th>
    <th rowspan="2">No.</th>
    <th rowspan="2">Title</th>
    <th rowspan="2">Count</th>
    <th colspan="5">Host/Link domain</th>
</tr>
<tr>
    <th>Caltech Archives</th>
    <th>Caltech Library</th>
    <th>Internet Archive</th>
    <th>YouTube</th>
    <th>Other</th>
</tr>
{% for coll in output[2] %}
    <tr>
        <td align="center"><input name="include" id="include" type="checkbox" value="{{ coll[0] }}"{% if coll[8] %} checked {% endif %}></td>
        <td align="right"><a href="{{ url }}{{ coll[0] }}">{{ coll[0] }}</a></td>
        <td>{{ coll[1] }}</td>
        <td align="right"><a href="{{ url }}{{ coll[0] }}/digitized">{{ coll[2] }}</a></td>
        <td align="right">{{ coll[3] }}</td>
        <td align="right">{{ coll[4] }}</td>
        <td align="right">{{ coll[5] }}</td>
        <td align="right">{{ coll[6] }}</td>
        <td align="right">{{ coll[7] }}</td>
    </tr>
{% endfor %}
</table>
</form>

<p>Total number of digital objects: {{ digitalobject_count }}</p>

<p>Total number of linked archival objects: {{ archivalobject_count }}</p>

{% endblock %}
