{% extends "base.html" %}

{% block content %}

<h3>CSV Download</h3>

<p>Select either resources or accessions records for download.</p>

<p>OPTIONAL: For the record type selected, choose the fields to include. If no boxes are checked then ALL listed fields will be included.</p>

<p>Be patient. Gathering resources data takes just a few seconds, but gathering accessions data takes about 20 seconds.</p>

<form action="{{ url_for('oaidp.dashboard') }}" method="POST">
    <input type="radio" id="resources" name="category" value="resources"><label for="resources">Resources</label><br>
    {% for field in resources_fieldnames %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="{{ field }}" id="{{ field }}" type="checkbox" value="{{ 1 }}">{{ field }}<br>
    {% endfor %}
    <input type="radio" id="accessions" name="category" value="accessions"><label for="accessions">Accessions</label><br>
    {% for field in accessions_fieldnames %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="{{ field }}" id="{{ field }}" type="checkbox" value="{{ 1 }}">{{ field }}<br>
    {% endfor %}
    <button type="submit">Gather data and save file</button>
</form>

{% endblock %}
