{% extends "base.html" %}

{% block content %}

<h3>Collections</h3>

<p>
    Data is updated nightly from ArchivesSpace at 3am.
</p>

<table>
    <tr>
        <td align="right"><strong>Data last updated from ArchivesSpace:</strong></td><td>{{ dt_xml }}</td>
    </tr>
</table>

<br/>

<table>
<tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
</tr>
{% for coll in output[2] %}
    <tr>
        <td align="center"></td>
        <td align="right"></td>
        <td></td>
        <td align="right"></td>
        <td align="center"></td>
        <td align="right"></td>
        <td align="right"></td>
        <td align="right"></td>
        <td align="right"></td>
    </tr>
{% endfor %}
<tr>
    <th align="right" colspan="3">Totals</th>
    <th align="right">{{ totals['tot_docount'] }}</th>
    <th></th>
    <th align="right">{{ totals['tot_clibrary'] }}</th>
    <th align="right">{{ totals['tot_iarchive'] }}</th>
    <th align="right">{{ totals['tot_youtube'] }}</th>
    <th align="right">{{ totals['tot_other'] }}</th>
</tr>
</table>
</form>


{% endblock %}
