{% extends "base.html" %}

{% block content %}
        
        <h2>ArchiveSpace OAI/EAD to OAI/DC Conversion</h2>
        
        <p>ArchivesSpace is an open source web application for managing archives information. The application is designed to
        support core functions in archives administration such as accessioning; description and arrangement of processed
        materials including analog, hybrid, and born-digital content; management of authorities (agents and subjects) and
        rights; and reference service. The application supports collection management through collection management records,
        tracking of events, and a growing number of administrative reports. The application also functions as a metadata
        authoring tool, enabling the generation of EAD, MARCXML, MODS, Dublin Core, and METS formatted data.</p>
        
        <p>The Python 3 script, ead2dc.py, takes as its input the Open Archives Initiative (OAI) output of an ArchivesSpace
        resource finding aid in Encoded Archival Description (EAD) format and outputs an XML file. The XML output contains
        Dublin Core (DC) records for digital resources found in the finding aid. Only records containing links to digital
        objects are included. The XML output is a 'static repository', inspired by the OAI Static Repository specification, but
        not adhering to it strictly. The static repository is the data source for the Open Archives Initiative (OAI) Data
        Provider.</p>
        
        <p>The OAI Data Provider adheres to the OAI standard and supports all the verbs (Identify, ListMetadataFormats, ListSets,
        ListIdentifiers, ListRecords, and GetRecord), resumption tokens, and sets. Only DC metadata is provided. Sets correspond
        to the archival collections in the Caltech Archives.</p>
        
        <h3>ead2dc - Main features and assumptions:</h3>
        
        <ul>
        <li>Both input and output are OAI-compliant XML files.</li>
        <li>All 12 levels of EAD container are supported.</li>
        <li>Titles are inherited down the container hierarchy.</li>
        <li>All other metadata is mapped from the record containing the digital object references.</li>
        <li>Records without digital object references are ignored (i.e. not mapped to the output file)</li>
        </ul>

        <h3>OAI Data Provider - Main features and assumptions:</h3>
        
        <ul>
        <li>The OAI Data Provider uses a static repository, i.e. it does not dynamically generate records.</li>
        <li>DC metadata only.</li>
        <li>Sets correspond to the archival collections and do not overlap.</li>
        <li>Records are delivered in batches of 250.</li>
        </ul>

{% endblock %}