{% extends "base.html" %}

{% block content %}

<h3>Download Records</h3>

{% if error %}
    <p><strong>{{ error }}</strong></p>
{% endif %}

<p>Select a record type and enter a record ID:</p>

<form action="{{ url_for('oaidp.records') }}" method="POST">

    <table>
        <tr>
            <td align="right"><label for="recordtype">Record type:</label></td>
            <td>
                <select name="recordtype" id="recordtype">
                    <option value="resources">Resources</option>
                    <option value="accessions">Accessions</option>
                    <option value="archival_objects">Archival objects</option>
                    <option value="digital_objects">Digital objects</option>
                </select>
            </td>
        </tr>
        <tr>
            <td align="right"><label for="saveas">Save as:</label></td>
            <td>
                <select name="saveas" id="saveas">
                    <option value="csv">CSV</option>
                    <option value="accessions">JSON</option>
                </select>
            </td>
        </tr>
        <tr>
            <td align="right"><label for="recordid">Record ID:</label></td>
            <td><input type="text" id="recordid" name="recordid"></td>
        </tr>
    </table>
    
    <br>
    <input type="submit" value="Submit">
    
</form>

{% endblock %}
