{% extends "base.html" %}

{% block content %}

<h3>Data Refresh</h3>

<p>The OAI Data Provider data is stored in a static XML file; a 'static repository'. There are two related, 
    but independent parts to refreshing the data hosted by the Data Provider:</p>

    <table>
        <tr>
            <td>
        
                <p>Update collection information from ArchivesSpace:</p>

                <p>Last update: {{ dt_col }} </p>

                <p><strong><a href="{{ url_for('oaidp.collections2') }}">Update collection
                            information from ArchivesSpace now</a></strong> (loads collections page when done)</p>
                        

            </td>
            <td>
                <ul>
                    <li>Iterates over all digital objects</li>
                    <li>Ignores unpublished and suppressed objects</li>
                    <li>Ignores objects without HTTP/HTTPS links</li>
                    <li>Ignores objects linked to accessions records</li>
                    <li>Provides counts of objects by collection and domain/host</li>
                    <li>Populates the <a href="{{ url_for('oaidp.collections') }}">collections table</a>
                        used to select the collections to be available as sets in the Data Provider</li>
                </ul>
            </td>
              
        <tr>
            <td>

                <p>Write the static repository (an XML file):</p>

                <p>Last update: {{ dt_xml }} </p>

                <p><strong><a href="{{ url_for('oaidp.regen2') }}">Write the static repository now</a></strong>
                </p>
            
                {% if done %}
                <p style="color:ForestGreen;"><strong>DONE</strong></p>
                {% endif %}

</td>
            <td>
                <ul>
                    <li>Generates EAD Finding Aids for each of the selected collections</li>
                    <li>Iterates over all the container records in the finding aid (all levels)</li>
                    <li>Ignores containers without digital records</li>
                    <li>Writes an OAI Dublin Core record for each container with digital content</li>
                    <li>Saves the resulting static repository file</li>
                </ul>
            </td>
        </tr>
    </table>

<p>Notes:</p>

<ul>
    <li>Run "Update collection information from ArchivesSpace" to capture new information at the collection level,
        such as adding/removing collections, or to update collection statistics.
    </li>
    <li>"Write the static repository" to update details. The EAD Finding Aid is the source of the data, so run this
        to capture any metadata updates in ArchivesSpace, such as changes to metadata and new digitized content.
    </li>
    <li>Each component takes a few mintues to run. Don't navigate away until the process is complete.</li>
    <li>Future plans include running these updates automatically each evening.</li>
</ul>

{% endblock %}