{% extends "base.html" %}

{% block content %}

<h3>Regenerate XML</h3>

<p><strong>XML last updated:</strong> {{ dt[0] }} 
    
    ({{ dt[1][0] }}h {{ dt[1][1] }}m {{ dt[1][2] }}s ago)</p>

{% if not done %}

<ol>
    <li><a href="{{ url_for('oaidp.collections2') }}">Refresh data from ArchivesSpace</a></li>
    <li><a href="{{ url_for('oaidp.regen2') }}">Regenerate static XML</a></li>
</ol>

{% else %}

<p style="color:ForestGreen;"><strong>DONE</strong></p>

<p>{{ output }}</p>

{% endif %}

{% endblock %}